<h1>Normal Log Raws</h1>

<table>
  <thead>
    <tr>
      <th><%= NormalLogRaw.human_attribute_name('hostname') %></th>
      <th><%= NormalLogRaw.human_attribute_name('raw_log') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @normal_log_raws.each do |normal_log_raw| %>
      <tr>
        <td><%= normal_log_raw.hostname %></td>
        <td><%= link_to 'raw_log', rails_blob_path(normal_log_raw.raw_log, disposition: "attachment") %></td>
        <td><%= link_to 'Destroy', normal_log_raw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Normal Log Raw', new_normal_log_raw_path %>
