<%= form_with(model: ticket, local: true) do |f| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :maker %>
  <%= f.select :maker, [['Juniper', 'juniper'], ['Alcatel', 'alcatel'], ['Cisco', 'cisco']], required: true, class: 'form-control' %>

  <%= f.label :code %>
  <%= f.text_field :code, required: true, class: 'form-control' %>

  <%= f.label :hostname %>
  <%= f.text_field :hostname, required: true, class: 'form-control' %>

  <%= f.label :raw_anomaly_log %>
  <%= f.file_field :raw_anomaly_log, multiple: false, direct_upload: true, required: true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
