<dt><%= Ticket.human_attribute_name('code') %></dt>
<dd><%= @ticket.code %></dd>
<dt><%= Ticket.human_attribute_name('maker') %></dt>
<dd><%= @ticket.maker %></dd>
<dt><%= Ticket.human_attribute_name('hostname') %></dt>
<dd><%= @ticket.hostname %></dd>
<dt><%= Ticket.human_attribute_name('normal_log_raw') %><dt>
<dd><%= link_to @ticket.normal_log_raw, rails_blob_path(@ticket.normal_log_raw.raw_log, disposition: "attachment") %></dd>
<dt><%= Ticket.human_attribute_name('anomaly_log_raw') %></dt>
<dd><%= link_to @ticket.anomaly_log_raw, rails_blob_path(@ticket.anomaly_log_raw.raw_log, disposition: "attachment") %></dd>

<h2><%= ComparisonSet.model_name.human.titleize %></h2>
<% anomaly_cmdsets = @ticket.anomaly_log_raw&.anomaly_command_log_sets %>
<% if anomaly_cmdsets.present? %>
  <% anomaly_cmdsets.each do |anomaly_cmdset| %>
    <%= link_to anomaly_cmdset.type, comparison_set_path(anomaly_cmdset.comparison_set) %>
  <% end %>
<% end %>

<h2><%= ComparisonUnit.model_name.human.titleize %></h2>
<% anomaly_cmdlogs = @ticket.anomaly_log_raw&.anomaly_command_log_sets&.pluck(:anomaly_command_logs) %>
<% if anomaly_cmdlogs.present? %>
  <% anomaly_cmdlogs.each do |anomaly_cmdlog| %>
    <%= link_to anomaly_cmdlog.name, comparison_set_path(anomaly_cmdlog.comparison_unit) %>
  <% end %>
<% end %>

<%= link_to 'Back', tickets_path %>
