<dt><%= Ticket.human_attribute_name('code') %></dt>
<dd><%= @ticket.code %></dd>
<dt><%= Ticket.human_attribute_name('maker') %></dt>
<dd><%= @ticket.maker %></dd>
<dt><%= Ticket.human_attribute_name('hostname') %></dt>
<dd><%= @ticket.hostname %></dd>
<dt><%= Ticket.human_attribute_name('normal_log_raw') %><dt>
<dd><%= link_to @ticket.normal_log_raw, rails_blob_path(@ticket.normal_log_raw.raw_log, disposition: "attachment") %></dd>
<dt><%= Ticket.human_attribute_name('anomaly_log_raw') %></dt>
<dd><%= link_to @ticket.anomaly_log_raw, rails_blob_path(@ticket.anomaly_log_raw.raw_log, disposition: "attachment") %></dd>

<h2><%= ComparisonSet.model_name.human.titleize %></h2>
<dl>
  <% @comparison_sets.each do |comparison_set| %>
    <li><%= link_to comparison_set.phase, comparison_set_path(comparison_set) %></li>
  <% end %>
</dl>

<h2><%= ComparisonUnit.model_name.human.titleize %></h2>
<dl>
  <% @comparison_units.each do |comparison_unit| %>
    <li><%= link_to comparison_unit.name, comparison_unit_path(comparison_unit) %></li>
  <% end %>
</dl>

<%= link_to 'Back', tickets_path %>
