<%= form_with(model: anomaly_log_raw, local: true) do |f| %>
  <% if anomaly_log_raw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anomaly_log_raw.errors.count, "error") %> prohibited this anomaly_log_raw from being saved:</h2>

      <ul>
      <% anomaly_log_raw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :hostname %>
    <%= f.text_field :hostname, required: true, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :raw_log %>
    <%= f.file_field :raw_log, multiple: false, direct_upload: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
